@import "bootstrap/scss/bootstrap";

#App {
	min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0.75em;
}

.alert {
	p:last-of-type {
		margin-bottom: 0;
	}
}

.container {
	position: relative;
}

#global-loading-spinner {
	position: fixed;
	top: 4.5rem;
	right: 4.5rem;
	z-index: 1;
}

#loading-spinner-wrapper {
	position: absolute;
	top: 2rem;
	right: 1rem;
}

.todolist {
	.todo {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&.done {
			.todo-title {
				color: $success;
				font-style: italic;
				text-decoration: line-through;
			}
		}
	}
}
